<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        Bonjour <%= @current_user.name if @current_user %>
        <% if @current_user %>
          <%= link_to "Sign out", '/sign_out', method: :delete %>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
